
.hindi {
  background-color: #f5f5f5; /* Set a light background color similar to Tamil */
  text-align: center;
  padding: 20px; /* Add padding for better spacing */

  h2 {
    margin-bottom: 20px;
    color: #333; /* Set text color */
  }

  .hindi-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .hindi-numeral {
      cursor: pointer;
      transition: transform 0.2s;
      width: calc(20% - 20px); /* Adjust width as needed for 5 numerals in a row with 20px gap */
      height: 80px; /* Adjust height as needed */
      border: 2px solid #ccc; /* Add border with a lighter color */
      margin: 10px;
      text-align: center;
      line-height: 80px;
      font-size: 70px;
      background-color: #fff; /* Set a white background color */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */

      /* Hover effect */
      &:hover {
        transform: scale(1.1);
        background-color: #f0f0f0; /* Lighten background color on hover */
      }

      /* Media queries for responsiveness */
      @media (max-width: 768px) {
        width: calc(33.33% - 20px); /* Adjust width for 3 numerals in a row on smaller devices with 20px gap */
      }

      @media (max-width: 480px) {
        width: calc(50% - 20px); /* Adjust width for 2 numerals in a row on even smaller devices with 20px gap */
      }
    }
  }
}
