
// Define colors as variables for easy management
$primary-color: #007bff; // Default primary color
$success-color: #28a745; // Success color for correct option
$error-color: #dc3545; // Error color for wrong option
$light-pink: #ffc0cb; // Light pink background color
$white: #fff; // White background color

.addition {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; /* Grow to fill available space */
  background-color: $light-pink; /* Set background color */
  padding: 20px; /* Add padding */

}

.question {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  background-color: $white; /* Set background color */
  background-color: #ffc0cb;

  border-radius: 10px; /* Add border radius */
  padding: 20px; /* Add padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box shadow */
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.option {
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  background-color: $primary-color; /* Default background color */
  color: $white; /* Default text color */
  transition: background-color 0.3s ease;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.correct {
  background-color: $success-color; /* Green background color for correct option */
}

.wrong {
  background-color: $error-color; /* Red background color for wrong option */
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-content {
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.options .link-button {
  margin: 10px;
  background-color: $primary-color; /* Default background color for link buttons */
  color: $white; /* Default text color for link buttons */
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.footer {
  margin-top: auto; /* Ensure the footer stays at the bottom */
}

// Media queries for responsiveness
@media screen and (max-width: 768px) {
  .question {
    font-size: 20px; /* Decrease font size for smaller screens */
  }

  button {
    font-size: 16px; /* Decrease font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .question {
    font-size: 18px; /* Further decrease font size for smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
  }

  button {
    font-size: 14px; /* Further decrease font size for smaller screens */
    padding: 8px; /* Adjust padding for smaller screens */
  }
}
